<span><h1>Diploma in Graphic Design Course</h1></span><br>
_______________________________________________________________________________<br>

<h3>Academic Pathway</h3>

<div class="graphic"> <%=image_tag("g1.jpg", :alt => "IDA", :size => "300x300")%> </div>