<span><h1>Diploma in Interior Design Course</h1></span><br>
_______________________________________________________________________________<br>

<h3>Academic Pathway</h3>

<div class="graphic"> <%=image_tag("i1.png", :alt => "IDA", :size => "300x300")%> </div>