/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "home";
 @import "school";

body {
  font-family: 'Playfair Display', serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.topnav {
    padding-top: 5vh;
    padding-bottom: 5vh;
    overflow: hidden;
    background-color: #000;
    width: 100%;
    display: flex;
}

.topnav a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: none;
    color: white;
}

.text-nav {
  line-height: 7vh;
  margin-left: 15vw;
  line-width: 100%;
}

.bottom-bar {
  background-color: black;
  bottom: 0; 
  height: 6vh;
}

